<div class="container">
  <div class="center">
    <div class="last-items-box">
      <div class="last-items-box-bar">Profile</div>
      <div class="profile-wrapper">
        <div class="profile-card">
          <div>
            <img src="{{ user?.photoURL }}" width="150px" height="150px" />
          </div>
          <div>Name: {{ user?.displayName }}</div>
          <div>Email: {{ user?.email }}</div>
          <button>
            <a routerLink="/auth/update-profile">Edit</a>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
