<div class="container">
  <div class="center">
    <div class="last-items-box">
      <div class="last-items-box-bar">Profile</div>
      <div class="profile-wrapper">
        <div class="profile-card">
          <div>
            <img src="{{ user?.photoURL }}" width="150px" height="150px" />
          </div>
          <div><b>Name:</b> {{ user?.displayName }}</div>
          <div><b>Email:</b> {{ user?.email }}</div>

          <button *ngIf="user?.email === 'rosen.koichev@gmail.com' " routerLink="/products/add">Add Product</button>

          
        </div>
      </div>
    </div>
  </div>
</div>
