<div class="container">
  <div class="center">
    <div class="last-items-box">
      <div class="last-items-box-bar">Profile</div>
      <div class="profile-wrapper">
        <div class="profile-card">
          <div>
            <img src="{{ user?.photoURL }}" width="150px" height="150px" />
          </div>
          <div>Name: {{ user?.displayName }}</div>
          <div>Email: {{ user?.email }}</div>

          <p>Articles dashboard</p>
          <!-- create -->
          <h4>Create Article</h4>
          <div class="profile-wrapper">
            <div class="profile-card">
              <form>
                <!-- Name -->
                <div class="control-group">
                  <input
                    type="text"
                    class="login-field"
                    value=""
                    placeholder="Article name"
                    id="name"
                    name="name"
                    [(ngModel)]="name"
                  />
                  <label class="login-field-icon fui-user" for="name"></label>
                </div>

                <!-- Photo -->
                <div class="control-group">
                  <input
                    type="text"
                    class="login-field"
                    value=""
                    placeholder="Article TEXT"
                    id="text"
                    name="text"
                    [(ngModel)]="text"
                  />
                  <label class="login-field-icon fui-user" for="text"></label>
                </div>
                <button
                  type="button"
                  class="btn btn-primary btn-large btn-block"
                  (click)="addArticle()"
                >
                  Create article
                </button>
              </form>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
