<div class="container">
    <div class="center">
      <div class="last-items-box">
        <div class="last-items-box-bar">login</div>
        <div class="login">
          <div class="login-screen">
            <div class="app-title">
              <h1 class="form">Welcome to Register Page!</h1>
            </div>
  
            <div class="login-form">
              <form>
                <div class="control-group">
                  <input 
                    type="text"
                    class="login-field"
                    value=""
                    placeholder="Email"
                    id="login-name"
                    name="email"
                    [(ngModel)]="email"
                    
                  />
                  <label
                    class="login-field-icon fui-user"
                    for="login-name"
                  ></label>
                </div>
  
                <div class="control-group">
                  <input
                    type="password"
                    class="login-field"
                    value=""
                    placeholder="Password"
                    id="login-pass"
                    name="password"
                    [(ngModel)]="password"
  
                  />
                  <label
                    class="login-field-icon fui-lock"
                    for="login-pass"
                  ></label>
                </div>
 <!-- first name -->
                <div class="control-group">
                  <input
                    type="text"
                    class="login-field"
                    value=""
                    placeholder="First Name"
                    id="firstName"
                    name="firstName"
                    [(ngModel)]="firstName"
                  />
                  <label
                    class="login-field-icon fui-user"
                    for="firstName"
                  ></label>
                </div>
                <!-- last name -->
  
                <div class="control-group">
                  <input
                    type="text"
                    class="login-field"
                    value=""
                    placeholder="Last Name"
                    id="lastName"
                    name="lastName"
                    [(ngModel)]="lastName"
                  />
                  <label
                    class="login-field-icon fui-user"
                    for="lastName"
                  ></label>
                </div>
                <!-- photo Url -->
                <div class="control-group">
                  <input
                    type="text"
                    class="login-field"
                    value=""
                    placeholder="Photo URL"
                    id="photoUrl"
                    name="photoUrl"
                    [(ngModel)]="photoUrl"
                  />
                  <label
                    class="login-field-icon fui-user"
                    for="photoURL"
                  ></label>
                </div>
               
                <button
                  type="button"
                  class="btn btn-primary btn-large btn-block"
                  (click)="register()">
                  Register
                </button>
              </form>
              <a class="login-link" routerLink="/auth/login"
                >Have an account? Login from HERE!</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>