<div class="container">
    <div class="left">
      <div class="last-items-box">
        <div class="last-items-box-bar">Hello customers!</div>
        <p>
          This is a Simple E-Commerce project for Angular SoftUni Exam!
        </p>
        <p>I hope you enjoy surfing trough my application! Enjoy. :D</p>
        <p>You can see all of our products here: <a href="/products">products</a></p>
      </div>
    </div>
    <div class="right">
      <div class="last-items-box">
        <div class="last-items-box-bar">Latest products</div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam
          fugit voluptatibus sed consequatur veniam ipsam eligendi eius quae
          fuga, nemo blanditiis veritatis, animi temporibus est quaerat cum. Eum
          ipsa praesentium, ea repudiandae, fuga quo atque, quam tenetur autem
          placeat maiores. Officia atque vitae illo quia minima explicabo odio
          asperiores, corporis assumenda sapiente, hic natus voluptatum aut,
          pariatur consequatur excepturi fugiat doloribus ipsam recusandae
          voluptatem blanditiis minus. Hic dolorem quidem at, voluptas saepe vel
          incidunt sapiente, aut officiis sunt doloremque perspiciatis quo iusto
          tenetur unde cupiditate obcaecati. Minima obcaecati nemo labore, dolor
          quis perspiciatis nulla cum possimus totam rerum officiis corporis
          itaque vel accusantium ipsam temporibus sed suscipit dolore! Dolor non
          fugit, explicabo, dolorum totam recusandae earum tenetur ducimus
          aspernatur adipisci delectus cupiditate itaque, quos rem alias amet
          quasi sit quae velit possimus esse. Repellendus iusto accusamus,
          tenetur laboriosam ex incidunt facilis asperiores eligendi et quisquam
          possimus excepturi nobis, perferendis necessitatibus officia error
          doloribus reiciendis deleniti soluta? Sint vel esse laboriosam, illo
          repudiandae saepe delectus repellat voluptatem, quo id atque animi
          itaque, rerum at laudantium? Autem, omnis reprehenderit minima laborum
          obcaecati facere maxime voluptas, libero quisquam quibusdam nulla est
          eius! Soluta voluptate deleniti dolore dolores ab accusantium sit
          voluptatum dicta ducimus vel. Hic, molestiae nemo voluptatum labore ab
          illo! Consequuntur ratione ea voluptatibus totam dolorum. Autem eum at
          reprehenderit, officiis vel consectetur expedita tenetur magni
          mollitia molestias dolores quis maxime totam aut quia ipsum
          perferendis nostrum labore excepturi commodi a. Veritatis labore,
          omnis delectus iusto ipsum aliquid excepturi debitis libero similique
          voluptate assumenda sint, doloribus natus rem officia voluptatibus
          maxime distinctio rerum, nostrum facilis? Fugiat incidunt quo quos
          excepturi distinctio porro, quae veritatis dolor itaque vero repellat
          officia voluptatem nihil possimus dicta voluptatum, obcaecati
          aspernatur libero necessitatibus non iste aliquid id provident. Unde,
          sapiente minus. Placeat distinctio provident quod temporibus ducimus
          eaque et nesciunt vitae ipsum dolor iusto, beatae sunt, ut fugit,
          autem dolores quisquam eos incidunt nulla voluptatum saepe neque
          veniam vel. Ducimus doloremque quod, libero deleniti ab totam
          architecto provident delectus suscipit enim nostrum illo laudantium
          maiores veritatis laboriosam velit quis sapiente assumenda ullam
          beatae commodi pariatur! Similique dignissimos eos odio nulla iusto
          incidunt illo, sint magnam cum at ipsam nobis tenetur recusandae
          maiores voluptate quae aliquam maxime! Odit distinctio voluptatem
          placeat, exercitationem mollitia similique fugit laboriosam, id minus
          accusantium nihil at labore vero obcaecati neque nisi temporibus dicta
          doloribus totam, et corrupti. Facere assumenda itaque harum velit
          tempora.
        </p>
      </div>
    </div>
  </div>
