<div class="container">
    <div class="left">
      <div class="last-items-box">
        <div class="last-items-box-bar">Hello users!</div>
        <p>
          This is a Simple Article project for Angular SoftUni Exam!
        </p>
        <p>I hope you enjoy surfing trough my application! Enjoy. :D</p>
        <p>You can see all of our articles here: <a href="/articles">articles</a></p>
      </div>
    </div>
    <div class="right">
      <div class="last-items-box">
        <div class="last-items-box-bar">Latest articles</div>
        <p>
          LAst articles info.
        </p>
      </div>
    </div>
  </div>
