<div class="container">
    <div class="left">
      <div class="last-items-box">
        <div class="last-items-box-bar">Hello users!</div>
        <p>
          This is a Simple E-Commerce project for Angular SoftUni Exam!
        </p>
        <p>I hope you enjoy surfing trough my application! Enjoy. :D</p>
        <p>You can see all of our products here: <a routerLink="/products">PRODUCTS</a></p>
      </div>
    </div>
    <div class="right">
      <div class="last-items-box">
        <div class="last-items-box-bar">Latest products</div>
        <p>
          LAst products
        </p>
      </div>
    </div>
  </div>
