
<div class="container">
    <div class="center">
      <div class="last-items-box">
        <div class="last-items-box-bar">DETAILS</div>
        <div class="prod-wrap">
            
            <div class="row">
                <div >
                    <img style="height: 450px; width: 100%; display: block; margin:0 auto;"
                        [src]="prodInfo.imageUrl" alt="{{prodInfo.name}}">
                </div>
        
                <div>
                    <h2>{{prodInfo.brand}} {{prodInfo.name}}</h2>
                    <p><b>Product Code:</b> {{prodInfo.code}}</p>
                    <p><b>Price: </b> {{prodInfo.price}} $</p>
                    <p><b>In Stock: </b> {{prodInfo.quantity}}</p>
                    <p><b>Brand: </b> {{prodInfo.brand}}</p>
                    
                            
                            <p><b>Description: </b>{{prodInfo.description}}</p>
                    
                    
                    <div *ngIf="prodInfo.quantity === 0; then ngOut else ngIn"></div>
        
                    <ng-template #ngIn>
                        <button type="button" class="btn btn-default cart" (click)="addCart(prodInfo)"> Add to cart</button>
                    </ng-template>
                    <ng-template #ngOut>
                        <button type="button" class="btn btn-default cart" disabled> Add to cart</button>
                    </ng-template>
                    <div class="editDelBtn" *ngIf="user?.email == 'rosen.koichev@gmail.com' ">
                        <button type="button" class="btn btn-warning" (click)="newProdInfo(prodInfo)"
                            routerLink="/products/edit/{{prodInfo.id}}">
                            <i class="fa fa-pencil"></i> Edit</button>
                        <button type="button" class="btn btn-danger" (click)="delete(prodInfo)">Delete</button>
                    </div>
                </div>
            </div>
       
        </div>
      </div>
    </div>
  </div>
  