<div class="header">
    <nav class="navbar">
      <!-- LOGO -->
      <div class="logo"></div>

      <!-- NAVIGATION MENU -->
      <ul class="nav-links">
        <!-- USING CHECKBOX HACK -->
        <input type="checkbox" id="checkbox_toggle" />
        <label for="checkbox_toggle" class="hamburger">&#9776;</label>

        <!-- NAVIGATION MENUS -->
        <div class="menu">
          <li><a href="/home">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contancts">Contact</a></li>
          <li><a href="/auth/register">Register</a></li>
          <li><a href="/auth/login">Login</a></li>
        </div>
      </ul>
    </nav>
  </div>
