<div class="header">
    <nav class="navbar">
      <!-- LOGO -->
      <div class="logo"></div>

      <!-- NAVIGATION MENU -->
      <ul class="nav-links">
        <!-- USING CHECKBOX HACK -->
        <input type="checkbox" id="checkbox_toggle" />
        <label for="checkbox_toggle" class="hamburger">&#9776;</label>

        <!-- NAVIGATION MENUS -->
        <div class="menu">
          <li><a routerLink="/home">Home</a></li>
          <li><a routerLink="/products">Products</a></li>
          <ng-container *ngIf="!isLoggedIn">
            <li><a routerLink="/auth/login">Login</a></li>
            <li><a routerLink="/auth/register">Register</a></li>
          </ng-container>
          <ng-container *ngIf="isLoggedIn">
            <li><a routerLink="/auth/profile">Profile</a></li>
            <li><a routerLink="/auth/login" (click)="logout()">Logout</a></li>
          </ng-container>

        </div>
      </ul>
    </nav>
  </div>
