<div class="container">
  <div class="center">
    <div class="last-items-box">
      <div class="last-items-box-bar">All products</div>
      <div class="prod-container">
        <div class="prod-card">
          <div class="prod-card-img">
            <img
              src="https://i.dummyjson.com/data/products/6/1.png"
              width="200px"
              height="150px"
            />
          </div>
          <div class="prod-card-name">Macbook PRO</div>
          <div class="prod-card-price">2000$</div>
          <p>More details</p>
          <button class="prod-card-buy">Add to cart</button>
        </div>
      </div>

      <div class="prod-container">
        <div class="prod-card">
          <div class="prod-card-img">
            <img
              src="https://i.dummyjson.com/data/products/6/1.png"
              width="200px"
              height="150px"
            />
          </div>
          <div class="prod-card-name">Macbook PRO</div>
          <div class="prod-card-price">2000$</div>
          <p>More details</p>
          <button class="prod-card-buy">Add to cart</button>
        </div>
      </div>

      <div class="prod-container">
        <div class="prod-card">
          <div class="prod-card-img">
            <img
              src="https://i.dummyjson.com/data/products/6/1.png"
              width="200px"
              height="150px"
            />
          </div>
          <div class="prod-card-name">Macbook PRO</div>
          <div class="prod-card-price">2000$</div>
          <p>More details</p>
          <button class="prod-card-buy">Add to cart</button>
        </div>
      </div>

      <div class="prod-container">
        <div class="prod-card">
          <div class="prod-card-img">
            <img
              src="https://i.dummyjson.com/data/products/6/1.png"
              width="200px"
              height="150px"
            />
          </div>
          <div class="prod-card-name">Macbook PRO</div>
          <div class="prod-card-price">2000$</div>
          <p>More details</p>
          <button class="prod-card-buy">Add to cart</button>
        </div>
      </div>

      <div class="prod-container">
        <div class="prod-card">
          <div class="prod-card-img">
            <img
              src="https://i.dummyjson.com/data/products/6/1.png"
              width="200px"
              height="150px"
            />
          </div>
          <div class="prod-card-name">Macbook PRO</div>
          <div class="prod-card-price">2000$</div>
          <p>More details</p>
          <button class="prod-card-buy">Add to cart</button>
        </div>
      </div>

      <div class="prod-container">
        <div class="prod-card">
          <div class="prod-card-img">
            <img
              src="https://i.dummyjson.com/data/products/6/1.png"
              width="200px"
              height="150px"
            />
          </div>
          <div class="prod-card-name">Macbook PRO</div>
          <div class="prod-card-price">2000$</div>
          <p>More details</p>
          <button class="prod-card-buy">Add to cart</button>
        </div>
      </div>

      <div class="prod-container">
        <div class="prod-card">
          <div class="prod-card-img">
            <img
              src="https://i.dummyjson.com/data/products/6/1.png"
              width="200px"
              height="150px"
            />
          </div>
          <div class="prod-card-name">Macbook PRO</div>
          <div class="prod-card-price">2000$</div>
          <p>More details</p>
          <button class="prod-card-buy">Add to cart</button>
        </div>
      </div>
    </div>
  </div>
</div>
